---
import Layout from '../components/Layout.astro';
---

<!DOCTYPE html>
<html lang="en" class="astro-GWMGEEHR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Astro Toolbox</title>
  <link rel="stylesheet" href="/assets/index.bb761814.css" />
<link rel="stylesheet" href="/assets/index.b9fe521d.css" /></head>
  <body class="astro-GWMGEEHR">
    <main class="astro-DADV3HV3">
    <div class="header astro-DADV3HV3">
      <div class="logo astro-DADV3HV3">
        <img src="https://user-images.githubusercontent.com/43764894/223557634-f62606c5-bdf9-476c-9264-0d3728189962.png" class="astro-DADV3HV3">
      </div>
    </div>
    <div class="intro astro-DADV3HV3">
      <p class="astro-DADV3HV3">
        Hi 👋! This template gives you an
        <a href="https://astro.build/" class="astro-DADV3HV3">Astro</a> app with the scaffolding for
        <a href="https://ntl.fyi/3upc4Qo" class="astro-DADV3HV3">Netlify Functions</a>, <a href="https://ntl.fyi/3bICRk6" class="astro-DADV3HV3">Forms</a>, and
      <a href="https://ntl.fyi/3PcY8RH" class="astro-DADV3HV3">Redirects</a>. Our
      aim was to give you the code you would need to hit the ground running
      with a few fun features.
    </p>

    <p class="astro-DADV3HV3">
      You can find the code for this project on GitHub at
      <a href="https://github.com/netlify-templates/astro-toolbox" class="astro-DADV3HV3">https://github.com/netlify-templates/astro-toolbox</a>! Happy coding!
    </p>
    </div>
    <p class="astro-PFOBT6KG">Here's an example of a Netlify Form! When you fill this out, the submissions can be found in the Netlify Admin site.</p>
  <div class="feedback-form astro-PFOBT6KG">
      <form action='/success' class='astro-PFOBT6KG' method='POST' name='feedback'>
        <p class="hidden astro-PFOBT6KG">
          <label class="astro-PFOBT6KG">
            Don’t fill this out if you’re human: <input name="bot-field" class="astro-PFOBT6KG">
          </label>
        </p>
        <input type="hidden" name="form-name" value="feedback" class="astro-PFOBT6KG">
        <label for="name" class="astro-PFOBT6KG">Name</label>
        <input id="name" type="text" name="name" class="astro-PFOBT6KG">
        <label for="email" class="astro-PFOBT6KG">Email</label>
        <input id="email" type="email" name="email" required class="astro-PFOBT6KG">
        <label for="feedback" class="astro-PFOBT6KG">What is your feedback?</label>
        <textarea id="feedback" wrap="soft" name="feedback" required class="astro-PFOBT6KG"></textarea>
        <button type="submit" class="astro-PFOBT6KG">Submit</button>
      </form>
  </div>


    <a class="jokes-link astro-DADV3HV3" href="/api/joke">
    <h3 class="astro-DADV3HV3">
      Click here for function-loaded jokes!
    </h3>
    </a>
  </main>
  
</body></html>

